html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #101010;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  background-color: var(--custom-bg-color);
  font-family: var(--custom-font-family);
  margin: 0;
  padding: 0;
}

* {
  color: var(--custom-color);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.App > div {
  margin: 4px 0;
}

.AuthSelection-AuthType {
  border: 1px solid #DDD;
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 400px;
}

.AuthSelection-AuthType > * {
  margin: 4px 0;
}

.AuthSelection-AuthType > button {
  font-size: 12pt;
}

.GameSelection, .JoinGame {
  max-width: 600px;
}
.GameSelection > button {
  margin: 4px 0;
}

#Chatroom {
  background-color: var(--custom-bg-color);
  border: 1px solid white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 5px;
  position: fixed;
  right: 0;
  max-width: min(400px, 90%);
  z-index: 10;
}

#Chatroom-Messages {
  flex: 1 1 auto;
  overflow-y: scroll;
  word-wrap: break-word;
  height: 400px;
}

#Chatroom-Input {
  align-items: center;
  border-top: 1px solid #CCC;
  display: flex;
  flex-shrink: 1;
  padding-top: 2px;
}
#Chatroom-Input button {
  padding: 5px 0;
}
#Chatroom-Input input {
  min-width: 10px;
  margin: 0 4px;
}

button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}

button:disabled {
  opacity: 50%;
}

input {
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
}

.Card {
  /* Why in the hell doesn't border-box work here? b/c rerender? */
  border: 1px solid rgba(0,0,0,0);
}
.Card--selected {
  border: 1px dashed #CCC;
}

.Card-PlayerSelections {
  display: flex;
  flex-direction: row;
}

.Hadron64-Scores {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.HadronDot {
  border-radius: 50%;
  height: 10px;
  margin: 0 3px;
  width: 10px;
}

.HadronDot-Color--0 {
  background-color: #DDAA33;
}
.HadronDot-Color--1 {
  background-color: #BB5566;
}
.HadronDot-Color--2 {
  background-color: #004488;
}
.HadronDot-Color--3 {
  background-color: white;
}
.HadronDot-Color--100 {
  background-color: transparent;
}


.PromptGuess-ScoreRow {
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-direction: row; 
  padding: 4px;
  width: 600px;
}

.PromptGuess-ScoreRowCaption {
  width: 160px;
  word-wrap: break-word;
}

.PromptGuess-ScoreRowAuthor {
  width: 120px;
  word-wrap: break-word;
}

.PromptGuess-ScoreRowGuessers {
  margin-left: 10px;
}

.PromptGuess-ScoreRow--Truth .PromptGuess-ScoreRowCaption {
  color: rgb(0, 255, 0);
}