/* Global */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #101010;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  --custom-color: #fff;
  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;
  --transition-s: 150ms;

  background-color: var(--custom-bg-color);
  color: var(--custom-color);
  font-family: var(--custom-font-family);
  margin: 0;
  padding: 0;
}

/* Utilities */
._container {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Typography */
p {
  margin-bottom: 0;
  margin-top: 0;
}

p + p {
  margin-top: .5rem;
}

/* Forms */
button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  transition: all var(--transition-s);
}

button:disabled {
  opacity: 50%;
}

button:hover { 
  background-color: var(--custom-panel-color);
}

button:active { 
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.35) inset;
}

input {
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

/* Auth */
.AuthSelection-AuthType {
  border: 1px solid #DDD;
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 400px;
}

.AuthSelection-AuthType > * {
  margin: 4px 0;
}

.AuthSelection-AuthType > button {
  font-size: 12pt;
}

/* Chatroom */
#Chatroom {
  background-color: var(--custom-bg-color);
  border: 1px solid white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 5px;
  position: fixed;
  right: 0;
  max-width: min(400px, 90%);
  z-index: 10;
}

#Chatroom-Messages {
  flex: 1 1 auto;
  overflow-y: scroll;
  word-wrap: break-word;
  height: 400px;
}

#Chatroom-Input {
  align-items: center;
  border-top: 1px solid #CCC;
  display: flex;
  flex-shrink: 1;
  padding-top: 2px;
}

#Chatroom-Input button {
  padding: 5px 0;
}

#Chatroom-Input input {
  min-width: 10px;
  margin: 0 4px;
}

/* Cards */
.Card {
  /* Why in the hell doesn't border-box work here? b/c rerender? */
  border: 1px solid rgba(0,0,0,0);
}

.Card--selected {
  border: 1px dashed #CCC;
}

.Card-PlayerSelections {
  display: flex;
  flex-direction: row;
}

/* Hadron64 */
.Hadron64-Scores {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.HadronDot {
  border-radius: 50%;
  height: 10px;
  margin: 0 3px;
  width: 10px;
}

.HadronDot-Color--0 {
  background-color: #DDAA33;
}

.HadronDot-Color--1 {
  background-color: #BB5566;
}

.HadronDot-Color--2 {
  background-color: #004488;
}

.HadronDot-Color--3 {
  background-color: white;
}

.HadronDot-Color--100 {
  background-color: transparent;
}

/* Prompt Guessing */
.PromptGuess-ScoreRow {
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-direction: row; 
  padding: 4px;
  width: 600px;
}

.PromptGuess-ScoreRowCaption {
  width: 160px;
  word-wrap: break-word;
}

.PromptGuess-ScoreRowAuthor {
  width: 120px;
  word-wrap: break-word;
}

.PromptGuess-ScoreRowGuessers {
  margin-left: 10px;
}

.PromptGuess-ScoreRow--Truth .PromptGuess-ScoreRowCaption {
  color: rgb(0, 255, 0);
}

/* Game Header */
.GameHeader {
  background-color: #219ebc;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
}

.GameHeader-player {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.GameHeader-game {
  font-size: 2.5rem;
}

.GameHeader-room {
  background-color: #023047;
  border-bottom-left-radius: .25rem;
  padding: .75rem 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
}

.GameHeader-room-code { 
  font-family: 'Courier New';
}

.GameHeader-avatar { 
  border-radius: 50%;
  height: 32px;
  margin-left: .5rem;
  margin-right: .25rem;
  width: 32px;
}

/* Game Lobby */
.GameLobby { 
  background-color: #8ecae6;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

/* Notice */
.Notice { 
  background-color: #fb8500;
  display: block;
  font-weight: bold;
  padding-bottom: .5rem;
  padding-top: .5rem;
  text-align: center;
  width: 100%;
}

/* Auth */
.Auth {
  max-width: 350px;
  padding-top: 1.5rem;
}

.Auth-header { 
  background-color: #faedcd;
  color: #101010;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 3px;
}

/* Join Game */
.JoinGame { 
  max-width: 600px;
}

.JoinGame-headline { 
  margin-bottom: 1rem;
}

.JoinGame-label { 
  display: block;
  margin-bottom: .3rem;
}

.JoinGame-item { 
  margin-bottom: 1rem;
}

.JoinGame-error { 
  --error-size: 1rem;

  align-items: center;
  background-color: #e63946;
  border-radius: 3px;
  display: flex;
  margin-top: 1rem;
  padding: .75rem 1rem;
}

.JoinGame-error:empty { 
  display: none;
}

.JoinGame-error::before { 
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM256 304c13.25 0 24-10.75 24-24v-128C280 138.8 269.3 128 256 128S232 138.8 232 152v128C232 293.3 242.8 304 256 304zM256 337.1c-17.36 0-31.44 14.08-31.44 31.44C224.6 385.9 238.6 400 256 400s31.44-14.08 31.44-31.44C287.4 351.2 273.4 337.1 256 337.1z'/%3E%3C/svg%3E") no-repeat center center / contain;
  content: '';
  height: var(--error-size);
  margin-right: calc(var(--error-size) / 2);
  width: var(--error-size);
}

.JoinGame-input { 
  width: 100%;
}

.JoinGame-input.-code { 
  text-transform: uppercase;
}

.JoinGame-button {
  align-items: center;
  display: flex;
}

.JoinGame-button::after { 
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath fill='%23ffffff' d='M352 96l96 0 0 320H352 320v64h32H480h32V448 64 32H480 352 320V96h32zM192 416L352 256 192 96H160v96H0V320H160v96h32z'/%3E%3C/svg%3E") no-repeat center center / contain;
  content: '';
  display: inline-block;
  height: 1rem;
  margin-left: .4rem;
  width: 1rem;
}